.profile {
	height: 100%;
	width: 100%;
}

.display-pic-container {
	position: relative;
	width: 200px;
	height: 200px;
}

.display-pic-container > div {
	cursor: pointer;
}

.display-pic {
	width: 198px;
	height: 198px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #EAEAEA;
	border-radius: 5px;
}

.display-pic-edit {
	position: absolute;	
	font-size: 48px;
	top: -5px;
	right: -3px;
}

.profile-edit-section {
	display: flex;
	width: 66%;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	background-color: #FF655B;
	padding: 0;	
}

.profile-edit-label {
	width: 250px;
}

.profile-edit-input {
	text-align: left;
	font-size: 24px;
	background-color: #FF655B;
	color: #fff;
	flex-shrink: 1;
	padding: 0;
	margin: 0;
}

.profile-edit-input:focus {
	background-color: #fff;
	color: #333;
}		

.btn {
	cursor: pointer;
}

.dropzone-inner-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.upload-icon {
	font-size: 48px;
	margin: auto;
}
