body {
  background-color: #FF655B;
  color: #eee;
  text-decoration: none;
}

a:link {
  color: #eee;
  text-decoration: none;
} 

a:visited {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #34344A;
  text-decoration: none;
}

a:active {
  color: #eee;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 48px;
  margin: 0;
}